.game {
  background-image: url("../assets/gameBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.mother {
  display: flex;
  align-items: center;
  justify-content: center;
}

.defence {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.attack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.attack div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__ship {
  width: 15%;
}