@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");
/*media queries (sizes used by bootstrap) */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Red Rose", cursive;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}

.home {
  background-image: url("../assets/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
}
.header__title {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 40px;
}
@media screen and (min-width: 576px) {
  .header__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 992px) {
  .header__title {
    font-size: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 80px;
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 150px;
}
.options a {
  padding: 15px 25px;
  background-color: #f4f4f4;
  border: 2px solid #676e79;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.59) inset, -3px -3px 3px 0 rgba(0, 0, 0, 0.25) inset;
}
.options a:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.59) inset, -3px -3px 3px 0 rgba(255, 255, 255, 0.25) inset;
}
.options__start {
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}
@media screen and (min-width: 576px) {
  .options a {
    padding: 15px 50px;
  }
  .options__start {
    margin-bottom: 40px;
    font-size: 20px;
  }
}

.instructionsModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.instructionsModal__square {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  overflow-y: hidden;
  height: 100%;
}
@media screen and (min-width: 576px) {
  .instructionsModal__square {
    height: auto;
  }
}
.instructionsModal__square h1 {
  text-align: center;
  margin-bottom: 25px;
}
.instructionsModal__square h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}
.instructionsModal__square p {
  text-align: justify;
  margin-bottom: 5px;
}
.instructionsModal__square ul {
  margin-left: 20px;
}
.instructionsModal__closeButton {
  margin: 0 auto;
  display: block;
  background-color: #f4f4f4;
  margin-top: 25px;
  text-align: center;
  border: none;
  padding: 10px 20px;
  color: #000000;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.59) inset, -3px -3px 3px 0 rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}
.instructionsModal__closeButton:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.59) inset, -3px -3px 3px 0 rgba(255, 255, 255, 0.25) inset;
}

.game {
  background-image: url("../assets/gameBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mother {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mother p {
  width: 40px;
}
.mother__ship {
  max-width: 150px;
}
@media screen and (min-width: 576px) {
  .mother__ship {
    max-width: 100px;
  }
}
@media screen and (min-width: 768px) {
  .mother__ship {
    max-width: 200px;
  }
}

.defence {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}
.defence__container {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.defence__container p {
  width: 40px;
}
.defence__ship {
  max-width: 80px;
}
@media screen and (min-width: 576px) {
  .defence__ship {
    max-width: 110px;
  }
}

.attack__container1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}
.attack__container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.attack__shipContainer {
  width: 22.5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.attack__shipContainer p {
  width: 40px;
}
.attack__ship {
  max-width: 50px;
}
@media screen and (min-width: 576px) {
  .attack__ship {
    max-width: 60px;
  }
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__ship {
  cursor: pointer;
  max-width: 80px;
}
@media screen and (min-width: 576px) {
  .player__ship {
    max-width: 110px;
  }
}

.points {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 20px;
}

.gameOverModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.gameOverModal__square {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  overflow-y: hidden;
  height: auto;
}
.gameOverModal__square h1 {
  text-align: center;
  margin-bottom: 25px;
}
.gameOverModal__button {
  margin: 0 auto;
  display: block;
  background-color: #f4f4f4;
  margin-top: 25px;
  text-align: center;
  border: none;
  padding: 10px 20px;
  color: #000000;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.59) inset, -3px -3px 3px 0 rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}
.gameOverModal__button:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.59) inset, -3px -3px 3px 0 rgba(255, 255, 255, 0.25) inset;
}